{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="container">
    <h1> Разработчик </h1>
    <div class="p-3 mb-2 bg-light text-dark">
        <img class="container" src="/static/LHUC0452.JPG" style="width: 180px; height: 225px; float: left;">
        <h5> Всем привет! Меня зовут Ирина. Я Python - разработчик</h5>
        <h6>Стек навыков:<br>
            1.Python<br>
            2.Git<br>
            3.Веб-фреймворк Django и Flask<br>
            4.ООП<br>
            5. Работа с SQLlite3 и MySQL<br>
            Имею высокий уровень мотивации для достижения цели. Коммуникабельная и отзывчивая! Внимательная и с отличной
            памятью! Проявляю инициативу и беру ответственность за свои решения и действия. Легко обучаюсь и не боюсь
            нового!<br>
            Поставила перед собой задачу овладеть языком Python на высшем уровне.
            С огромным удовольствием буду пробовать себя в роли ментора и заниматься обучением новых junior
            специалистов!
        </h6>
        </h5>
    </div>
</div>
{% endblock %}